<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">

            <form role="form">
                <fieldset class="form-group">
                    <label>English Name</label>
                    <input class="form-control">
                </fieldset>

                <fieldset class="form-group">
                    <label>Other Name</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <button type="button" class="btn btn-secondary"  (click)="updateCity()">Submit Button</button>
                <button type="reset" class="btn btn-secondary">Reset Button</button>

            </form>

        </div>
        
    </div>
    <!-- /.row -->
</div>
